<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Slider</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="./css/event.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  
    <div class="container">
        <div class="slide">
            <div class="item" style="background-image: url('images/image4.jpg');">
                <div class="content">
                    <div class="name">Business Conferences</div>
                    <div class="des">Professional setups for impactful discussions and networking.</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url('images/image1.jpg');">
                <div class="content">
                    <div class="name">DJ Nights</div>
                    <div class="des">Electrifying music and vibes for unforgettable nights.</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url('images/image3.jpg');">
                <div class="content">
                    <div class="name">Culture Events</div>
                    <div class="des">Celebrate traditions and diversity with memorable cultural experiences.</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url('images/image11.avif');" >
                <div class="content">
                    <div class="name">University Events</div>
                    <div class="des">Engaging campus activities that inspire learning and creativity.</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url('images/image7.jpg');">
                <div class="content">
                    <div class="name">Private Parties</div>
                    <div class="des">Personalized celebrations tailored to your unique style.</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url('images/image9.jpg');">
                <div class="content">
                    <div class="name">Social Gatherings</div>
                    <div class="des">Bringing people together to create cherished moments.</div>
                    <button>See More</button>
                </div>
            </div>
        </div>

        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>












    <!-- Gallery Section -->
<section class="gallery-section">
    <h2>Upcoming Events</h2>
    <div class="gallery-container">
        <!-- Gallery Item 1 -->
        <div class="gallery-item">
            <img src="images/image20.jpg" alt="Event 1">
            <div class="gallery-content">
                <h3>Music Concert</h3>
                <p>Experience live performances by top artists in an electrifying environment.</p>
                <button class="book-ticket" onclick="window.location.href='/ticket'">
                Book Ticket
                   </button>
                              <button class="book-ticket" onclick="window.location.href='/banner'">
                  Banner
                     </button>
                <button class="share-btn" data-event-id="1">Share</button>
            </div>
        </div>

        <!-- Gallery Item 2 -->
        <div class="gallery-item">
            <img src="images/image21.jpeg" alt="Event 2">
            <div class="gallery-content">
                <h3>Art Exhibition</h3>
                <p>Discover masterpieces and innovative artworks from renowned artists.</p>
                <button class="book-ticket" onclick="window.location.href='/ticket'">
                Book Ticket
                   </button>
                              <button class="book-ticket" onclick="window.location.href='/banner'">
                  Banner
                     </button>
                <button class="share-btn" data-event-id="2">Share</button>
            </div>
        </div>

        <!-- Gallery Item 3 -->
        <div class="gallery-item">
            <img src="images/image22.jpg" alt="Event 3">
            <div class="gallery-content">
                <h3>Food Festival</h3>
                <p>Savor delicious cuisines and enjoy fun culinary experiences.</p>
                <button class="book-ticket" onclick="window.location.href='/ticket'">
                Book Ticket
                   </button>
                              <button class="book-ticket" onclick="window.location.href='/banner'">
                  Banner
                     </button>
                <button class="share-btn" data-event-id="3">Share</button>
            </div>
        </div>

        <!-- Gallery Item 4 -->
        <div class="gallery-item">
            <img src="images/image23.jpeg" alt="Event 4">
            <div class="gallery-content">
                <h3>Tech Conference</h3>
                <p>Stay ahead with the latest innovations and insights in technology.</p>
                <button class="book-ticket" onclick="window.location.href='/ticket'">
                Book Ticket
                   </button>
                              <button class="book-ticket" onclick="window.location.href='/banner'">
                  Banner
                     </button>
                <button class="share-btn" data-event-id="4">Share</button>
            </div>
        </div>

        <!-- Gallery Item 5 -->
        <div class="gallery-item">
            <img src="images/image24.jpg" alt="Event 5">
            <div class="gallery-content">
                <h3>Dance Workshop</h3>
                <p>Learn exciting dance moves from expert choreographers.</p>
                <button class="book-ticket" onclick="window.location.href='/ticket'">
                Book Ticket
                   </button>
                              <button class="book-ticket" onclick="window.location.href='/banner'">
                  Banner
                     </button>
               <button class="share-btn" data-event-id="5">Share</button>
            </div>
        </div>

        <!-- Gallery Item 6 -->
        <div class="gallery-item">
            <img src="images/image25.jpeg" alt="Event 6">
            <div class="gallery-content">
                <h3>Book Fairs</h3>
                <p>Discover new stories, meet authors, and explore a world of literature.</p>
                <button class="book-ticket" onclick="window.location.href='/ticket'">
                Book Ticket
                   </button>
                              <button class="book-ticket" onclick="window.location.href='/banner'">
                  Banner
                     </button>
               <button class="share-btn" data-event-id="6">Share</button>
                
            </div>
        </div>
    </div>
</section>










<!-- Share Modal -->
<div class="overlay" id="shareModal">
  <div class="modal">
    <h2>Share</h2>
    <div class="share-icons">
      <a id="waShare" target="_blank"><img src="https://img.icons8.com/color/48/whatsapp.png"/><span>WhatsApp</span></a>
      <a id="fbShare" target="_blank"><img src="https://img.icons8.com/color/48/facebook.png"/><span>Facebook</span></a>
      <a id="xShare" target="_blank"><img src="https://img.icons8.com/ios-filled/50/twitterx.png"/><span>X</span></a>
      <a id="emailShare"><img src="https://img.icons8.com/ios-glyphs/30/new-post.png"/><span>Email</span></a>
    </div>
    <div class="copy-box">
      <input type="text" id="shareLink" readonly>
      <button onclick="copyLink()">Copy</button>
    </div>
    <button class="close-btn" onclick="closeModal()">Close</button>
  </div>
</div>


    <!-- External JavaScript -->
    <script src="./js/event.js"></script>
</body>
</html>
